video{
   
    padding: 0;
    margin: 0;
    width: 100%;
    height: 700px;
}


button{
    color: red;
    align-items: center;
    background-color: rgb(234, 212, 44);
    color: rgb(251, 33, 146);
    padding: 8px 100px 8px 100px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    box-shadow: 3px 3px 3px 4px rgb(251, 232, 124);
    cursor: pointer;
    border-radius: 5px;
    margin-top: -20%;
    text-align: center;
    
 

}
a{
    margin-top: -50%;
}
button:hover{
    color: rgb(239, 255, 217);
    box-shadow: 4px 4px 5px 3px rgb(201, 203, 69);
}
.all img{
  
  width: 90%;
  align-items: center;
  margin: auto;
}
body{
    background-color: rgb(31, 3, 45);
}
.all{
    text-align: center;

}

.salma{
    text-align: center;
    color: white;

    background-color: red;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
}